{% extends 'layout.html' %}

<title>{% block title %}Privacy Policy{% endblock %}</title>

{% block content %}

<main>
<br>
<strong  class="privacyPolicy">Privacy Policy</strong>
<br>
<br>
<p>This Privacy Policy describes the type of personal information that we may collect for our own purposes; how we use, protect, and share that information; and the choices that you have. By using the Services, you acknowledge the information collection practices and purposes outlined in this Privacy Policy. Any capitalized terms used, but not defined, in this Privacy Policy have the meanings provided in the Terms of Use of the applicable Services.</p>

<p>In some circumstances, a Red Ventures company may receive or process Personal Information on behalf of a client. In those situations, the privacy policy of the client will apply. </p>

<b>Your Controls</b><br>

<p class="mt-2">We believe you should have tools to control your information. You can find controls to manage or review your account information, marketing preferences, location data, and search history at Privacy Controls. Some of our Services provide additional controls and privacy practices</p>


<h3>Types of Information We Collect</h1>

<p>The following are examples of the types of information that we may collect directly from you, about you, and/or from other sources, including third parties, business partners, our affiliates, or publicly available sources.</p><br>


<p><u>Information collected directly from you:</u> </p> 

<!-- Account register -->

<li><b>Account Registration.</li></b><br>
<p>Your name, email, phone number and other relevant information when you create an account. We also may collect information relating to the actions that you perform while logged into your account. The purpose for collection and use of this data is that we have a business need to provide account related functionalities to our users. Accounts can be used for easy checkout, save your preferences, select areas of interest, and transaction history.</p>

<!-- Financial Info -->

<li><b>Financial Registration.</li></b><br>
<p> On certain Red Venture Services you may provide us with information such as national identifier, credit history, income, loan amounts, and account balances related to requesting financial products and services. Examples include credit card inquiries, and loan inquiries for products such as mortgages, personal loans, and student loans. In some situations for Bankrate, our GLBA notice may also apply to the collection of this information. The purpose of the collection is we have a business need to use this information to facilitate your request and connect you to lenders that deliver the products and services you request.</p>




<!-- Info You post -->
<li><b>Information You Post on the Services.</li></b><br>
<p>When available on the Services, we may collect Personal Information from you when you provide or post information to our Services, including your username, comments, likes, interests, status, pictures, and references to your online presence. We may use this information for our purposes and/or make this information available to others as you request.</p>

<!-- Info You provide -->
<li><b>You Provide About Others.</li></b><br>
<p>Sometimes, you may provide information about others- for example, to refer a friend for a newsletter.  We may use this information to make our Services available to the people you refer. </p>

<!-- Surveys -->
<li><b>Surveys.</li></b><br>
<p>When you participate in a survey, we collect information that you provide through the survey. If the survey is provided by a third-party service provider, the third party’s privacy policy also applies to the collection, use, and disclosure of your information. The purposes of collection and use of this data are that we have a business need to understand your opinions and collect information relevant to our organization. </p>

</main>


{% endblock %}