{% extends 'layout.html' %}


<title>{% block title %}Terms And Service{% endblock %}</title>

{% block content %}
<main>
   
<h2 class="TermsAndConditions mt-5">Terms And Service</h2>
<br>

<p>Welcome to the network of interactive services provided by Technology Update.These Terms of Use, along with our Privacy Policy (collectively, this “Agreement”) govern your use of the websites, Application (as defined herein), and other products and services offered by us or our affiliates that include an authorized link to these Terms of Use (collectively, the “Services”).</p>

<b>Please review these Terms of Use as well as our Privacy Policy carefully before using the Services because they affect your rights. By using any of the Services, you: accept this Agreement and agree to be legally bound by it; acknowledge that this Agreement is supported by reasonable and valuable consideration, including, without limitation, your ability to visit, use and/or submit information to our Services; and represent and warrant that you are of legal age and have sufficient capacity and authority to form a binding contract with us, on your own behalf or on behalf of any company or other entity for whom you may be acting. If you do not want to agree to the Agreement, or if you do not meet all of these requirements, you must not access or use the Services (including by installation or use of the Application).</b><br><br>

<p>THIS AGREEMENT CONTAINS A BINDING ARBITRATION AGREEMENT, WHICH PROVIDES THAT YOU AND WE AGREE TO RESOLVE CERTAIN DISPUTES THROUGH BINDING INDIVIDUAL ARBITRATION AND GIVE UP ANY RIGHT TO HAVE THOSE DISPUTES DECIDED BY A JUDGE OR A JURY. YOU HAVE THE RIGHT TO OPT OUT OF OUR AGREEMENT TO ARBITRATE. SEE THE “LEGAL DISPUTES” SECTION OF THIS AGREEMENT.</p>

<b>Changes</b><br><br>
<p>This Agreement is effective as of the Effective Date above. If you have not reviewed the terms of use applicable to a Service since the Effective Date, please review this Agreement carefully and in full before using any Service.</p>

<p>We may change this Agreement in the future, so we encourage you to review periodically this Agreement of Use applicable to each Service you use. The most current version of the applicable Terms of Use (along with its effective date) will be linked from each of the Services. If you do not agree with any changes to this Agreement, your sole remedy is not to use, download, or install the Services. If you continue to use the Services after we change this Agreement, you accept all changes.</p>

<b>Privacy Policy: Additional Terms</b><br><br>

<p>Our Privacy Policy describes our practices concerning data that you provide or that we may collect about you through the Services, and you consent to our use of data in compliance with the Privacy Policy.</p>
</main>
{% endblock %}